@import 'Main.scss';

ul, li {
	list-style-type: none;
	color: $text!important;
}

.quote {
	width: 30vw;

	padding: 48px;

	color: $text;
	font-size: 1.6rem;
	border-left: 6px solid $secondary;
}

.quote-reveal {
	@extend .quote;
	@extend .reveal;
}

.quote-hide {
	@extend .quote;
	@extend .hide;
}

.quote:not(:first-of-type) {
	margin-top: 96px;
}

.quote:last-child:not(:first-child) {
	margin-bottom: 96px;
}
.tail {
	margin-bottom: 96px;
}

#quote-container {
	margin: 32px 0px;
}

@media screen and (max-width: 800px) {
	.quote {
		font-size: 1em;
	}	
}