@import 'Main.scss';

#random {
	display: flex;
	justify-content: space-between;
	align-content: space-between;

	position: absolute;
	top: 16px;
	right: 64px;

	border: none;
	background-color: $primary;
	color: $text;
	font-family: inherit;

	transition: opacity 0.2s;
}

#random:hover {
	opacity: 0.8;
}

#random span {
	align-self: center;
}

@media screen and (max-width: 800px) {
	#random {
		right: 16px;
	}	
}